<%- include("header")  -%>

    </div>
    <div class="container mt-2 text-center">
      <h1 class="fs-1 badge bg-dark"> <%= listTitle %> </h1>
      <br>
      <br>
    </div>

    <div class="container form-check position-relative " >


        <div class=" itemName position-absolute top-0 start-50 translate-middle-x">

          <% nextItem.forEach((item, i) => { %>
            <form action="/delete" method="post">
              <div class="ms-5 sider">

                <input type="checkbox" class="form-check-input" id="itemsCheck" value="<%= item._id %>" name="checkbox" onChange="this.form.submit()">

                <label class="form-check-label " for="itemsCheck"> <%= item.name %> </label>
                <br />
              </div>

            </form>
        <%  }); %>







          <form class="" action="/" method="post">
            <input class="form-control-lg" type="input" name="item" value="">
            <button type="submit" class="btn btn-lg btn-outline-dark" name="btn" value= <%= listTitle %> >+</button>
          </form>

        </div>

    </div>

  <%- include("footer")  -%>
